* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    height: 80px;
    background-color: #ADD8E6;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1.5rem;
}

nav {
    width: 100%;
    height: 35px;
    border: 1px dashed black;
    background-color: #DAA520;
}

footer{
    width: 100%;
    height: 80px;
}

.conteiner {
    width: 1000px;
    height: 35px;
    margin: auto;
    
    
}

.small-nav {
    width: 20%;
    height: 100%;
    border: 1px dashed black;

}

.link {
    width: 60%;
    height: 100%;
    border: 1px dashed black;
}

.flex {
    display: flex;
}
.row-dir{
    flex-direction: row;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}
.align-end{
    align-items: end;
}

.gap {
    row-gap: 15px;
}

.wrap {
    flex-wrap: wrap;
}

ul {
    list-style: none;

}

a {
    text-decoration: none;
    color: black;
}

.pd {
    padding: 5px;
}

.align-text {
    text-align: end;
}
.bord-bot{
    border-bottom: 1px solid #D3D3D3;
}
button{
    width: 80px;
    height: 25px;
    background-color: #FFB6C1;
    border: 1px dashed black;
    font-size: 1rem;
}
.small-botton{
    width: 60px;
}
.marg-top-bot{
    margin: 10px 0;
}

/* box */

.sup-big-box {
    height: 800px;
}

.big-box {
    width: 100%;
    height: 500px;
    
}

.sup-box {
    width: 1000px;
    height: 700px;
    border: 1px dashed black;
}

.box-unique {
    width: 800px;
    height: 400px;
    background-color: #EE82EE;
    border: 1px dashed black;
}

.box {
    width: 1200px;
    height: 500px;
}

.md-box {
    width: 600px;
    height: 400px;
    border: 1px dashed black;

}

.sm-box {
    width: 400px;
    height: 400px;
    border: 1px dashed black;
}

.min-box {
    width: 300px;
    height: 450px;
    border: 1px dashed black;
}
.col-box{
    width: 700px;
    height: 450px;
    border: 1px dashed white;
}
.min-col-box{
    width: 25%;
    height: 100%;
    border: 1px dashed white;
}

.foot-box{
    height: 50px;
    width: 1000px;
}

/* color */
.back-blue {
    background-color: #00008B;
}

.back-white {
    background-color: white;
}

.back-light-blue {
    background-color: #1E90FF;
}

.back-pink {
    background-color: #FFC0CB;
}

.back-light-grey {
    background-color: #D3D3D3;
}

.back-green {
    background-color: #228B22;
}

.back-black {
    background-color: #23272A;
}
.back-dark-pink{
    background-color: #F08080;
}
.back-green-water{
    background-color: #20B2AA;
}
.back-light-green{
    background-color: #7FFFD4;
}